.homeContainer{
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    /* background-color: var(--white); */
}

.container{
    width: 85%;
    /* background-color: red; */
}
.homeBodyTopTop{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.homeBodyTopTop img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0px;
    
}

.homeBodyTopBottomitemContainer{
    width: 100%;
    height: 450px;
    background-color: red;
    margin-bottom: 50px;
    display: flex;
}
.cartComponentContainer{
    width: calc(100% - 100px);
    height: 100%;
    background-color: var(--white);
}
.leftbutton{
    width: calc(50px);
    height: 100%;
    background-color: var(--black);
}