.homeContainer{
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    /* background-color: var(--white); */
}

.container{
    width: 85%;
    /* background-color: red; */
}


.homeBodyTopTop{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}


.homeBodyTopTop img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0px;
    
}

.homeBodyTopBottomitemContainer{
    width: 100%;
    height: 500px;
    /* background-color: red; */
    margin-bottom: 50px;
    display: flex;
}
.cartComponentContainer{
    width: calc(100% - 100px);
    height: 100%;
    /* background-color: red; */
    /* background-color: var(--white); */
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
}


.leftbutton{
    width: calc(50px);
    height: 100%;
    background-color: var(--black);
    /* border-radius: 100% 0px 0px 100%; */
}

.Rightbutton{
    width: calc(50px);
    height: 100%;
    background-color: var(--black);
    /* border-radius: 0px 100% 100% 0px; */
}
/* =========scroll bar css========= */

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
.homeBodyMiddle{
    width: 100%;
    height: max-content;
    /* background-color: red; */
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.homeBodyMiddleTop{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 10px;
}

.HomeBodyMiddleTopLeft{
    width: 300px;
    height: 500px;
    /* background-color: aliceblue; */
}
.HomeBodyMiddleTopLeft img{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    object-fit: cover;
    border-radius: 0px;
}

.HomeBodyMiddleTopRight{
    width: calc(100% - 300px);
    height: 500px;
    /* background-color: rgb(107, 209, 178); */
    display: flex;
}

.homeBodyBottom{
    width: 100%;
    height: max-content;
    /* background-color: red; */
}
.homeBodyBottomTop{
    margin-bottom: 50px;
}
.homeBodyBottomTop img{
    filter: grayscale(100%);
    height: 50px;
    width: auto;
}

.homeBodyBottomTop hr{
    width: 100%;
    height: 2px;
    background-color: var(--black);
    border: none;
}

.homeBodyBottomTopContainer{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* background: #000; */
}

.homeBodyBottomMiddleTop{
    width: 100%;
    /* height: 500px; */
    display: flex;
    gap: 10px;
    background-color: red;

}
.homeBodyBottomMiddleTopLeft img{
    width: 70px;
    height: auto;
}   

.faqContainer{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

ol{
    font-size: small;
}